<div class="container">
    <div class="col-sm-12">
    <% if @purchases != [] %>
        <% @purchases.each do |purchase| %>
        <div class="bs-calltoaction bs-calltoaction-default <%= purchase %>">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title"><%= link_to "##{purchase.purchase_number} #{purchase.payment_method}, #{number_to_currency purchase.get_total, unit: '€'}", purchase %></h1>
                    <div class="cta-desc">
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                </div>
            </div>
        </div>
        <% end %>
  <% else %>
    <h1>You don't have any purchases yet</h1>
  <% end %>
    </div>
</div>
