<div id="custom-search-input">
    <h1 class="mentor-title">Get your favorite photos printed with just a click</h1>
    <form class="input-group col-md-12" action="<%= products_path %>">
        <input type="text" id="search" name ="search" class="search-query form-control" placeholder="What are you looking for?"/>
        <span class="input-group-btn">
            <button class="btn btn-danger" type="submit">
                <span class="search glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form>
</div>
