.slide-wrapper{
  display:inline;
  .carousel-inner,.carousel,.item,.container,.fill {
    height:100%;
    min-height: calc(100vh - 50px);
    width:100%;
    background-position:center center;
    background-size:cover;
  }
  .container{padding:0px;}

  .scroll-down-arrow{
    position: fixed;
    top: 93%;
    left: 49%;
    transform: translateX(-50%);
    height: 24px;
    width: 24px;
    font-size: 34px;
    text-shadow: 0 0 2px #333;
    cursor: pointer;
    animation: bounce 1s;
    color: white;
    z-index: 999;

    @media only screen and (max-width: 750px) {
      left: 47%;
    }
  }

  .item1 {
    .carousel-img {
      width: 110vw;
      height: 110vh;
      position: absolute;
      top: -7vh;
      left: -5vw;
      z-index: 0;
      overflow: hidden;

      iframe {
        width: inherit;
        height: inherit;
      }
    }

    @media only screen and (max-width: 750px) {
      .carousel-img {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;

        iframe {
          width: 100%;
          height: auto;
        }
      }
    }

    .carousel-desc {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);

      p, a{ width: 80%; }
    }
  }

  .carousel-desc {

    p, a{ width: 80%; }

    a {
      display: inline-block;
      width: auto;
      margin: 10px auto;
      text-decoration: none;
      color: white;
      padding: 10px 15px;
      background-color: #333;
      border: 1px solid white;
      box-shadow: 0 0 10px 1px rgba(#333, .5);
      transition: .2s;

      &:hover{
        background-color: white;
        color: #333;
        border: 1px solid #333;
      }
    }
  }
/*------------------------------ vertical bootstrap slider----------------------------*/

  .carousel-inner> .item.next ,  .carousel-inner > .item.active.right{ transform: translateY(100%); -webkit-transform: translateY(100%); -ms-transform: translateY(100%);
  -moz-transform: translateY(100%); -o-transform: translateY(100%);  top: 0;left:0;}
  .carousel-inner > .item.prev ,.carousel-inner > .item.active.left{ transform: translateY(-100%); -webkit-transform: translateY(-100%);  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%); -o-transform: translateY(-100%); top: 0; left:0;}
  .carousel-inner > .item.next.left , .carousel-inner > .item.prev.right , .carousel-inner > .item.active{transform:translateY(0); -webkit-transform:translateY(0);
  -ms-transform:translateY(0);-moz-transform:translateY(0); -o-transform:translateY(0); top:0; left:0;}

  /*------------------------------- vertical carousel indicators ------------------------------*/
  .carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:10px; left:auto;
    width:auto;
  }
  .carousel-indicators li{display:block; margin-bottom:5px; border:1px solid #CCC; }
  .carousel-indicators li.active{margin-bottom:5px; background: rgba(#FFF, .75);}
  /*-------- Animation slider ------*/

  .animated{
  	animation-duration:3s;
  	-webkit-animation-duration:3s;
  	-moz-animation-duration:3s;
  	-ms-animation-duration:3s;
  	-o-animation-duration:3s;
  	visibility:visible;
  	opacity:1;
  	transition:all 0.3s ease;
  }
  .carousel-img{
  	 display: inline-block;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      img { max-height: 50%; }
  	}

  .item img{margin:auto;visibility:hidden; opacity:0; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
  .item1 .carousel-img img , .item1.active .carousel-img img{max-height:300px;}
  .item1.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 1s ease; -webkit-transition:all 1s ease; -moz-transition:all 1s ease; -ms-transition:all 1s ease; -o-transition:all 1s ease;
  animation-duration:2s; -webkit-animation-duration:2s; -moz-animation-duration:2s; -ms-animation-duration:2s; -o-animation-duration:2s; animation-delay:0.3s ; -webkit-animation-delay:0.3s;
  -moz-animation-delay:0.3s;-ms-animation-delay:0.3s; }
  .item .carousel-desc{color:#fff; text-align:center;}
  .item  h2{font-size:50px; animation-delay: .5s;animation-duration:1s; }

  .item1 h3{animation-delay:3s; animation-duration:1s;}
  .item p, .item a{animation-delay:1.5s;animation-duration:1s;}
  .item p {margin: auto; width:50%;}

  .item2.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 0.3s ease; animation-duration:3s; animation-delay:0.3s}
  .item2 h2 , .item2.active h2{visibility:hidden; opacity:0; transition:all 5s ease;}
  .item2.active h2.animated{visibility:visible; opacity:1;  animation-delay:3s;}

  .item .fill{padding:0px 30px; display:table; }
  .item .inner-content{display: table-cell;vertical-align: middle;}
  .item3 .col-md-6{float:none; display:inline-block; vertical-align:middle; width:49%;}
  .item.item3 .carousel-desc {text-align: center;}

  .item3.active .carousel-img img.animated{visibility:visible; opacity:1; transition:all 0.3s ease; animation-duration:2s; animation-delay:0.3s}
  .item3 h2 , .item3.active h2{visibility:hidden; opacity:0; transition:all 5s ease; }
  .item3.active h2.animated{visibility:visible; opacity:1;  animation-delay:1.5s}
  .item3 a , .item3.active a{visibility:hidden; opacity:0; transition:all 5s ease; }
  .item3.active a.animated{visibility:visible; opacity:1;  animation-delay:2.5s;}
  .item3 .frame-image{float: right;}

  .item4 .col-md-6{float:none; display:inline-block; vertical-align:middle; width:49%;}

  // .item4.active .inner-content { display: flex; justify-content: center; }
  .item4.active .carousel-img img{visibility:visible; opacity:1; transition:all 0.3s ease; animation-duration:2s; animation-delay:0.3s}
  .item4.active h2.animated{visibility:visible; opacity:1;  animation-delay:1.5s}
  .item4.active a.animated{visibility:visible; opacity:1;  animation-delay:2.5s;}

  @media(max-width:991px)
  {
  	.item .carousel-desc , .item.item3 .carousel-desc{text-align:center;}
  	.item .carousel-desc p, .item .carousel-desc a {width:80%;}
  	.item3 .col-md-6{width:100%; text-align:center;}
  	.item4 .col-md-6{width:100%; text-align:center;}
  	.item .text-left{margin-top: 15px;}
  }
  @media(max-width:768px)
  {
  .item .carousel-img img, .item.active .carousel-img img{max-height:155px;}
  .item  h2{font-size:30px; margin-top:0px;}
  .item .carousel-desc p, .item .carousel-desc a{width:100%; font-size:12px;}
  }
  @media(max-width:480px)
  {
  .item  h2{font-size:30px;}
  .item .carousel-desc p, .item .carousel-desc a{width:100%;}
  }
}
